@model BienesRaices.Models.Vendedor
@{
    ViewData["Title"] = "Crear Vendedor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1 class="text-center my-4">Nuevo Vendedor</h1>

    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3 shadow p-3 rounded-3">
                <div class="mb-2">
                    <label asp-for="Nombre" class="form-label text-uppercase fw-bold"></label>
                    <input asp-for="Nombre" type="text" class="form-control" placeholder="Nombre del Vendedor" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="mb-2">
                    <label asp-for="Apellido" class="form-label text-uppercase fw-bold"></label>
                    <input asp-for="Apellido" type="text" class="form-control" placeholder="Apellido del Vendedor" />
                    <span asp-validation-for="Apellido" class="text-danger"></span>
                </div>
                <div class="mb-2">
                    <label asp-for="Telefono" class="form-label text-uppercase fw-bold"></label>
                    <input asp-for="Telefono" type="text" class="form-control" placeholder="Telefono del Vendedor" />
                    <span asp-validation-for="Telefono" class="text-danger"></span>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i> Guardar</button>
                    <a asp-action="Index" class="btn btn-outline-secondary"><i class="fa-solid fa-arrow-left"></i> Regresar</a>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial"></partial>
}

