@model IEnumerable<BienesRaices.Models.Vendedor>
@{
    ViewData["Title"] = "Lista de Vendedores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row my-4">
        <div class="col-12 col-md-8">
            <h1>Lista de Vendedores</h1>
        </div>
        <div class="col-12 col-md-4">
            <a asp-action="Create" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Nuevo Vendedor</a>
        </div>
    </div>

    <div class="table-responsive-md">
        <table id="tblvendedor" class="table table-striped w-100 shadow bg-white">
        <thead>
            <tr>
                <th class="w-25">@Html.DisplayNameFor(v => v.Nombre)</th>
                <th>@Html.DisplayNameFor(v => v.Apellido)</th>
                <th>@Html.DisplayNameFor(v => v.Telefono)</th>
                <th>Acciones</th>
            </tr>
        </thead>
    </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/vendedor.js"></script>
}

